@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לספריית בית חיינו</h1>
    <p>כאן תוכלו לראות ולהוסיף ספרים וספריות לאוצר הספרים.</p>
</div>
